---
import Layout from "@layouts/Root.astro";
import Banner from "@components/Banner.svelte";
import Navbar from "@components/Navbar.svelte";
---

<Layout description="The official website of MentoskaPraha. Enjoy!">
  <Banner title="MP's Website" client:load />
  <Navbar client:load />
  <div class="h-96">
    <p class="select-text">Lorem Ipsum</p>
  </div>
</Layout>
