---
import dayjs from "dayjs";

interface Props {
  title: string;
  description: string;
  category: string;
  link: string;
  created: Date;
}

const { title, description, link, category, created } = Astro.props;
---

<li class="border-2 rounded-md p-2">
  <a href={link} data-astro-prefetch>
    <div class="sm:flex items-center text-center">
      <h3 class="underline font-bold text-xl mr-3">{title}</h3>
      <p class="ml-auto">
        {category} - {dayjs(created).format("ddd D MMM YYYY")}
      </p>
    </div>
    <p class="pt-4 text-center">{description}</p>
  </a>
</li>
