---
import type { linkObject } from "$types";

interface Props {
	links: Array<linkObject>;
}

const { links } = Astro.props;
const linksNum = links.length;
---

<ul class="grid grid-flow-col grid-layout gap-4 place-items-center m-4">
	{
		links.map((item) => (
			<li class="w-24">
				<a
					href={item.link}
					target="_blank"
					class="grid inner-grid-layout place-items-center"
				>
					<img
						width="80"
						height="80"
						class="bg-white w-20 h-20 rounded-full border-quaternary border-4"
						src={item.image}
						alt="Logo of a grid item."
					/>
					<h3 class="text-center">{item.title}</h3>
				</a>
			</li>
		))
	}
</ul>

<style define:vars={{ linksNum }} scoped>
	.grid-layout {
		grid-template-columns: repeat(var(--linksNum), minmax(80px, 1fr));
	}
	.inner-grid-layout {
		grid-template-rows: 80px 48px;
	}
</style>
