---
import "@css";

//setup props
interface Props {
  title?: string;
  siteTitle?: string;
  description: string;
}

const { title, siteTitle, description } = Astro.props;

//setup page title
let pageTitle = "MP's Website";

if (title != null && siteTitle != null) {
  pageTitle = title + " | " + siteTitle;
  return;
}

if (title != null) pageTitle = title + " | MP's Website";

if (siteTitle != null) pageTitle = siteTitle;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />

    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <meta name="description" content={description} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-zinc-800 text-white font-sans select-none">
    <div id="app">
      <slot />
    </div>

    <div id="screenSizeError" class="bg-black m-3 p-1 text-center rounded-lg">
      <h1 class="mb-1 underline text-2xl">Your Screen is too Small!</h1>
      <p class="text-sm">
        Your screen is too small to display this website. Please come back on a
        device with a width of at least 320px.
      </p>
    </div>
  </body>
</html>

<style scoped>
  #app {
    display: block;
  }

  #screenSizeError {
    display: none;
  }

  @media screen and (max-width: 319px) {
    #screenSizeError {
      display: block;
    }

    #app {
      display: none;
    }
  }
</style>
