---
import "@css";

//setup props
interface Props {
  title?: string;
  siteTitle?: string;
  description: string;
}

const { title, siteTitle, description } = Astro.props;

//setup page title
let pageTitle = "MP's Website";

if (title != null && siteTitle != null) {
  pageTitle = title + " | " + siteTitle;
  return;
}

if (title != null) pageTitle = title + " | MP's Website";

if (siteTitle != null) pageTitle = siteTitle;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />

    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <meta name="description" content={description} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-zinc-800 text-white font-sans select-none">
    <slot />
  </body>
</html>
